<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692702509698-v4k78k1gnvdbkfo9luulc63cdd4o54jn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692702509698-v4k78k1gnvdbkfo9luulc63cdd4o54jn</string>
	<key>API_KEY</key>
	<string>AIzaSyAf5EfmA72JjLaNTabPJBsmoJiT4wL5XGA</string>
	<key>GCM_SENDER_ID</key>
	<string>692702509698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vehicleReporting</string>
	<key>PROJECT_ID</key>
	<string>ocr-vis-4b00a</string>
	<key>STORAGE_BUCKET</key>
	<string>ocr-vis-4b00a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692702509698:ios:9cdbdb6ea4a2fbaf06129b</string>
</dict>
</plist>